doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/semantic/dist/semantic.min.css')
        link(rel='stylesheet', href='/chartist/dist/chartist.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.11.0.min.js")
        script(src='/semantic/dist/semantic.min.js')
        script(src='/chartist/dist/chartist.js')
    body
        block content
        script(src='/javascripts/global.js')
