body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div{
    padding: 5px;
}

.ct-chart {
    height:70vh;
}

.fc-input{
    width:220px;
    margin-left:5px;
    margin-right:5px;
}

.ui.button {
    margin-left:5px;
    margin-right:5px;
}